$themes: (
  dark: (
    headerbackground: #3c3c3c,
    dropdown-menu: #3b3b3b,
    setting-box-themebackground: #222222,
    setting-box-langbackground: #222222,
    span-item: #efefef,
    fname: #d2d2d2,
    clock: #efefef,
    //menu
    menubackground: #232323,
    fa-star: #f39200,
    input-search: #d2d2d2,
    menu-list: white,
    sub-menu-list: #3a3a3a,
    sub-menu-listhover: #222222,
    follow-list: #3a3a3a,
    follow-listhover: #236abb,
    follow-listhovercolor: #fff,
    //home
    homebackground: #242424,
    //
    tablebackground: #000000,
    tableborder: #343434,
    tablecolor: #f5f5f5,
    table-title: #1f1f1f,
    table-title-color: #f0f8ff,
    td-thborder: #343434,
    color-ref: #ffd900,
    color-refbg: #404040,
    color-ceil: #ff25ff,
    color-fl: #1eeeee,
    tbody-background: #404040,
    tablehover:#333333,
    //modal
    modal-headerbackground: #236abb,
    modal-background: #232323,
    table-modal: #e6e6e6
  ),
  light: ( 
    headerbackground: #236abb,
    dropdown-menu: #e6e6e6,
    setting-box-themebackground: #f5f5f5,
    setting-box-langbackground: #f5f5f5,
    setting-box-themecolor: #222222,
    setting-box-langcolor: #222222,
    span-item: #222222,
    clock: #efefef,
    fname: #222222,
    //menu
    menubackground: #e6e6e6,
    fa-star: #f39200,
    input-search: #d2d2d2,
    menu-list: #232323,
    sub-menu-list: #e6e6e6,
    sub-menu-listhover: #f3d2aa,
    follow-list: #d2d2d2,
    follow-list-done: #e6e6e6,
    follow-listhover: #236abb,
    follow-listhovercolor: #fff,
    sub-menu-list-done: #e6e6e6,
    //home
    homebackground: #f5f5f5,
    //pb
    tablebackground: #f5f5f5,
    tableborder: #333333,
    tablecolor: #333333,
    table-title: #f5f5f5,
    table-title-color: #333333,
    td-thborder: #cbcbcb,
    color-ref: #d4b001,
    color-refbg: #dedede,
    color-ceil: #ff25ff,
    color-fl: #00c5c5,
    tbody-background: #dedede, 
    tablehover:#d6d4d4,
    //modal
    modal-headerbackground: #236abb,
    modal-background: #f5f5f5,
    table-modal: #333333,

  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}