@import '../../assets/theme/theme.scss' ;

.pb {
  width: 100%;
  transition: .4s;
  table-layout:auto;
  border-collapse: collapse;
  margin-top: 90px;
  text-align: center;
  @include themify($themes){
    background-color: themed('tablebackground');
    border: 1px solid themed('tableborder');
    color: themed('tablecolor');
  }
  font-size: 12px;
  .table-title {
    position: sticky;     
    top: 85px;
    @include themify($themes){
      background-color: themed('table-title');
      color: themed('table-title-color');
    }
    table-layout: fixed;
  }
  td, th{
    @include themify($themes){
      border: 1px solid themed('td-thborder');
    }
    padding: 5px;
    width: 100%;
    width: 50px;
  }
  .color-ref {
    @include themify($themes){
      color: themed('color-ref');
      background-color: themed('color-refbg')
    };
    font-weight: 500;
  }
  .color-ceil {
    @include themify($themes){
      color: themed('color-ceil');
      background-color: themed('color-refbg')
    };
    font-weight: 450;
  }
  .color-fl {
    @include themify($themes){
      color: themed('color-fl');
      background-color: themed('color-refbg')
    }
    font-weight: 450;
  }
  .red {
    color: #f53e3e;
    font-weight: 450;
  }
  .green {
    color: #1ac316;
    font-weight: 450;
  }
  .yellow {
    color: #d4b001;
    font-weight: 450;
  }
  .jade-green {
    color: #00c5c5;
    font-weight: 450;
  }
  .pink {
    color: #ff25ff;
    font-weight: 450;
  }
  tbody tr:hover {
    @include themify($themes){
      background-color: themed('tbody-background')
    }
    cursor: pointer;
  }
}


