@import '../../../assets/theme/theme.scss';

.home {
    @include themify($themes){
        background-color: themed('homebackground');
    }
    position: absolute;
    width: 100%;
}
//footer
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    text-align: left;
    font: sans-serif;
}
.n {
    color: #00fa00;
    margin-top: 7px;
    font-size: 13px;
}
.t {
    font-size: 13px;
}
.bts {
    position: fixed;
    right: 0;
    bottom: 0;
    border: none;
    background-color:#236abb;
    text-align: center;
    font-size: 14px;
    width: 150px;
    height: 35px;
    color: #efefef;
    display: inline-block;
}
.bts2 {
    position: fixed;
    right: 150px;
    bottom: 0;
    border: none;
    background-color:black;
    text-align: center;
    font-size: 14px;
    width: 120px;
    height: 35px;
    color: #efefef;
}
.footer-item {
    margin-left: 30px;
    margin-top: 3px;
}
