@import '../../../assets/theme/theme.scss' ;

.pb {
  width: 100%;
  transition: .4s;
  table-layout:auto;
  border-collapse: collapse;
  margin-top: 90px;
  text-align: center;
  @include themify($themes){
    background-color: themed('tablebackground');
    border: 1px solid themed('tableborder');
    color: themed('tablecolor');
  }
  font-size: 12px;
  .table-title {
    position: sticky;     
    top: 85px;
    @include themify($themes){
      background-color: themed('table-title');
      color: themed('table-title-color');
    }
    table-layout: fixed;
  }
  td, th{
    @include themify($themes){
      border: 1px solid themed('td-thborder');
    }
    padding: 5px;
    width: 100%;
    width: 50px;
  }
  .color-ref {
    @include themify($themes){
      color: themed('color-ref');
      background-color: themed('color-refbg')
    };
    font-weight: 500;
  }
  .color-ceil {
    @include themify($themes){
      color: themed('color-ceil');
      background-color: themed('color-refbg')
    };
    font-weight: 450;
  }
  .color-fl {
    @include themify($themes){
      color: themed('color-fl');
      background-color: themed('color-refbg')
    }
    font-weight: 450;
  }
  .red {
    color: #f53e3e;
    font-weight: 450;
  }
  .green {
    color: #1ac316;
    font-weight: 450;
  }
  .yellow {
    color: #d4b001;
    font-weight: 450;
  }
  .jade-green {
    color: #00c5c5;
    font-weight: 450;
  }
  .pink {
    color: #ff25ff;
    font-weight: 450;
  }
  //color
  .red-color {
    color: #f53e3e;
    font-weight: 450;
  }
  .green-color {
    color: #1ac316;
    font-weight: 450;
  }
  .yellow-color {
    color: #d4b001;
    font-weight: 450;
  }
  .blue-color {
    color: #00c5c5;
    font-weight: 450;
  }
  .purple-color {
    color: #ff25ff;
    font-weight: 450;
  }
  tbody tr:hover {
    @include themify($themes){
      background-color: themed('tbody-background')
    }
    cursor: pointer;
  }

  @keyframes green-background-fade {
    50% {
      background: green;
      color: white
    }
    100% {
      background: transparent;
    }
  }

  @keyframes jade-green-background-fade {
    50% {
      background: #00c5c5;
      color: white
    }
    100% {
      background: transparent;
    }
  }
  
  @keyframes red-background-fade {
    50% {
      background: red;
      color:white
    }
    100% {
      background: transparent;
    }
  }
  @keyframes yellow-background-fade {
    50% {
      background: #FFFF00;
      color: black;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes pink-background-fade {
    50% {
      background: #FF00FF;
      color: white;
    }
    100% {
      background: transparent;
    }
  }
.green-hl {
    color: #1ac316;
    animation: green-background-fade 1s forwards;  
}
.red-hl {
    color: #f53e3e;
    animation: red-background-fade 1s forwards;  
}
.yellow-hl {
    color: #d4b001;
    animation: yellow-background-fade 1s forwards;  
}
.pink-hl{
    color: #ff25ff;
    animation: pink-background-fade 1s forwards;  
}
.jade-green-hl{
    color: #00c5c5; 
  }
  //high light
  .hight-light-green {
    background: #1ac316;
}
.hight-light-red {
    background: #f53e3e;
}
.hight-light-yellow {
    background: #d4b001;
}
.hight-light-purple {
    background: #ff25ff;
}
.hight-light-blue {
    background: #00c5c5;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: block !important;
  }
  
  .modal-main {
    position: fixed;
    @include themify($themes){
      background-color: themed('modal-background')
    }
    width: 50%;
    height: 30%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .modal-header {
    margin-top: -30px;
    height: 30px;
    @include themify($themes){
      background-color: themed('modal-headerbackground')
    }
  }
  
.table-modal {
  @include themify($themes){
    color: themed('table-modal')
  }
  width: 100%;
  height: 100%;
}
  #close {
    font-weight: bold;
    color: white;
    border: none;
    margin-left: 93%;
    @include themify($themes){
      background-color: themed('modal-headerbackground')
    }
  }
}


